<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>CP地图</Name>
    <Version>1.0.0</Version>
    <Title>在QT环境下使用OpenStreetMap离线地图</Title>
    <Publisher>Pai Peng</Publisher>
    <!-- Directory name is used in component.xml -->
    <StartMenuDir>CP地图</StartMenuDir>
    <TargetDir>@ApplicationsDirX64@/CPMap</TargetDir>
</Installer>